.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Todo 3.0: Create an animation that increases and decreases the scale of the box  */
.todo-0-container .box {
  animation: pulse 1s ease infinite;
}
@keyframes pulse{
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: sacle(1);
  }
}

/* Todo 3.1: Create an animation that moves the box left and right.
Start with using "from" and "to". Now use "0%" and "100%" as your key frames.
Set more key frames between 0% and 100%. */
.todo-1-container .box {
  animation: linear-slider 2s infinite;
}
@keyframes linear-slider {
  0%{
    background-color: black;
    color: white;
    transform: translateX(0px);
  }
  50%{
    background-color: pink;
    color:red;
    transform: translateX(100px);
  }
  100%{
    background-color: white;
    color:black;
    transform: translateX(0px);
  }
}

/* Todo 3.2: Try the different timing funcitons such as linear, ease-in, ease-in-out, cubic-bezier, and steps*/
.todo-2-container .box {
  animation: timing-function-slider 2s step-start infinite;
}
@keyframes timing-function-slider{
  0%{
    background-color:black;
    color:white;
    transform:translateX(0px);
  }
  25%{
    background-color: red;
    color: black;
    transform: translateX(100px);
  }
  50%{
    background-color: green;
    color:black;
    transform: translateX(200px);
  }
  75%{
    background-color: blue;
    color:black;
    transform: translateX(300px);
  }
  100%{
    background-color:white;
    color: black;
    transform: translateX(400px);
  }
}

/* Todo 3.3: Create a transition that will raise the button up and will make it cast a shadow when you hover over the button */
/* bonus: apply the transition on the box shadow with different duration and timing function. This should all be in one line*/
.todo-3-container button {
  transition: 150ms linear;
}
.todo-3-container button:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
  transform: translateY(-5px);
}
